@using DesarrollodeProyectos.Identity

@model ShirtModel

@{
    ViewData["Title"] = "Borrar la camisa";
}

<h3 class="mb-3"></h3>

<form asp-asp-controller="Shirt" asp-action="ShirtDeleted">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Información de la Camisa</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">¿Está seguro que desea borrar la camisa?</h6>
            <p class="card-text">Camisa: @Model.Name ?
        </div>
    </div>

    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-outline-danger">Borrar</button>
    <a class="btn btn-outline-secondary" asp-action="ShirtList" asp-controller="Shirt">Cancelar</a>
</form>
