@using DesarrollodeProyectos.Identity
@model SupplierModel

@{
    ViewData["Title"] = "Agregar Proveedor";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<form asp-action="SupplierAdd" method="post" enctype="multipart/form-data">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Name" >
        <label asp-for="Name">Nombre del proveedor</del></DEL></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="PhoneNumber" >
        <label asp-for="PhoneNumber">Teléfono del proveedor</label>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary">Guardar Proveedor</button>
    <a class="btn btn-outline-secondary" href="@Url.Action("SupplierList", "Supplier")">Volver a la lista</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
