@using DesarrollodeProyectos.Identity
@model SizeModel

@{
    ViewData["Title"] = "Alta de Talla";
}

<h1>Alta de Talla</h1>

<form asp-action="SizeAdd" asp-controller="Size" enctype="multipart/form-data">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Name" placeholder="Nombre de la talla">
        <label asp-for="Name">Nombre</label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary">Guardar</button>
    <a class="btn btn-outline-secondary" asp-action="SizeList" asp-controller="Size">Regresar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
