@using DesarrollodeProyectos.Services;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Creatisa</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DesarrollodeProyectos.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
        #productosDropdown, #datosDropdown, #usuariosDropdown {
            color: white !important; 
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Creatisa Bordados y Serigrafía</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Nuestros Productos</a></li>

                        @if (User.IsInRole("ADMIN"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="productosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Productos
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="productosDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Cap" asp-action="CapList">Listado de Gorras</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Shirt" asp-action="ShirtList">Listado de Camisas</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Sweater" asp-action="SweaterList">Listado de Sueteres</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="datosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Datos
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="datosDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="CategoryList">Lista de Categorías</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Size" asp-action="SizeList">Lista de Tallas</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Material" asp-action="MaterialList">Tipo de Materiales</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Supplier" asp-action="SupplierList">Listado de Proveedores</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Usuarios
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="usuariosDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Rol" asp-action="RolList">Lista de Roles</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="List">Lista de Usuarios</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Order" asp-action="History">Historial de Pedidos</a></li>
                        }
                        @if (User?.Identity?.IsAuthenticated == true)
                        {
                            
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Order" asp-action="MyOrders">Mis Pedidos</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index">Carrito</a></li>

                        }
                        <partial name="_LinksLogin">
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>