@using DesarrollodeProyectos.Identity
@model MaterialModel

@{
    ViewData["Title"] = "Borrar Material";
}

<h3 class="mb-3">¿Está seguro que desea borrar este material?</h3>

<form asp-controller="Material" asp-action="MaterialDelete" method="post">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Información del Material</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">¿Está seguro que desea borrar este material?</h6>
            <p class="card-text">Material: @Model.Name</p>
            <p class="card-text">Descripción: @Model.Description</p>
        </div>
    </div>

    <!-- Campo oculto para enviar el Id del material -->
    <input type="hidden" asp-for="Id" />
    
    <!-- Botón para confirmar la eliminación -->
    <button type="submit" class="btn btn-outline-danger">Borrar</button>

    <!-- Botón para cancelar -->
    <a class="btn btn-outline-secondary" asp-action="MaterialList" asp-controller="Material">Cancelar</a>
</form>
