<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Creatisa Promocionales - Imprenta Textil y Digital" />
        <meta name="author" content="Tadeo Fernando Meléndez Ibarra" />
        <title>Creatisa Promocionales</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Creatisa Promocionales</h1>
                                <p class="lead fw-normal text-muted mb-4">Cumplimos con las necesidades del cliente en tiempo y forma, ofreciendo soluciones gráficas y textiles.</p>
                                <a class="btn btn-primary btn-lg" href="https://www.facebook.com/creatisapromocionales" target="_blank">Visita nuestra página de Facebook</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Misión</h2>
                            <p class="lead fw-normal text-muted mb-0">Cumplir con las necesidades del cliente en tiempo y forma, dando soluciones gráficas y textiles.</p>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Visión</h2>
                            <p class="lead fw-normal text-muted mb-0">Contar con la capacidad de producción, versatilidad de servicios para cumplir con más clientes a menor tiempo de entrega, fortaleciéndonos con práctica en cada área.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- History section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-12">
                            <h2 class="fw-bolder">Historia</h2>
                            <p class="lead fw-normal text-muted mb-0">Creatisa comenzó a finales de 2006 ofreciendo solo servicios de tarjetas de presentación y diseño gráfico. Con el tiempo, fue extendiendo sus servicios a la impresión de serigrafía en tela, adquiriendo maquinaria para bordado y vinil decorativo, con el objetivo de mejorar su producción y alcanzar a clientes más grandes. Hoy en día, contamos con equipos de bordado, serigrafía, plotter de recorte, y fabricación de playeras, buscando siempre mejorar nuestra capacidad y calidad.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Contact section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Contacto</h2>
                            <p class="lead fw-normal text-muted mb-0">Tadeo Fernando Meléndez Ibarra - Dueño</p>
                            <p class="lead fw-normal text-muted mb-0">Teléfono: 811208-8348</p>
                            <p class="lead fw-normal text-muted mb-0">Correo electrónico: <a href="mailto:tadeo.melendez@gmail.com">tadeo.melendez@gmail.com</a></p>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Ubicación</h2>
                            <p class="lead fw-normal text-muted mb-0">Progreso1551, Col Terminal, Monterrey, N.L.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
